*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100%;
    width:100%;
    background-color: black;
}
a{
    text-decoration: none;
}
.container{
    max-width:95vw;
    padding:2rem 1rem;
    margin:0 auto;
}
.header_container{
    margin-bottom:2.8rem;
}
.header_title{
    margin-bottom:1rem;
    font-size:1.7rem;
    line-height:2rem;
    font-weight: 700;
    text-align:center;
    color: aliceblue;
}
.header_desc{
    max-width:768px;
    text-align: center;
    margin:0 auto;
    color: aliceblue;
}
.main_container{
    display: grid;
    gap:1.5rem;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 2
}
@media (min-width:650px){
    .main_container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:1080px){
    .main_container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (min-width:1340px){
    .main_container{
        grid-template-columns: repeat(4,1fr);
    }
}

.card_container{
    display:flex;
    flex-direction:column;
    border:1px solid rgb(77, 75, 75);
    border-radius:6px;
    overflow: hidden;
    background-color: white;;
}
.card_image_container{
    position:relative;
    width:100%;
    aspect-ratio: 2/3;
    overflow:hidden;

}
.card_image{
    object-fit:cover;
    object-position: center;
    position:absolute;
    height:100%;
    width:100%;
    background-color: black;
}
.card_title_container{
    display: flex;
    flex-direction: column;
    padding:1.5rem;
    margin-top:0.8rem;
}
.card_container:hover .card_image{
    transform: scale(1.1);
    transition-duration: 200ms;
}
.card_title{
    font-size:1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color:rgb(16, 15, 15);
    margin-bottom: 0.3rem;
}
.card_title:hover{
    color: rgb(54, 54, 143);
}
.card_desc{
    color:rgb(20, 18, 18);
    font-size: 1rem;
}
.card_footer_container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-left: 1.5;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    align-items: end;
}
.author_container{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;
}
.author_avatar_container{
    height:3rem;
    width:3rem;
    overflow:hidden;
    border:1px solid rgb(24, 23, 23);
    border-radius:50%;
}
.author_avatar{
    width:100%;
    height:100%;
    object-fit: cover;
}
.author_info_container{
    display: flex;
    flex-direction: column;
}
.name{
    color: blue;
}
.date{
    color: grey;
}
.card_tag_container{
    border:1px solid rgb(90, 88, 88);
    font-size:0.9rem;
    border-radius: 2px;
    line-height: 0.8rem;
    padding:0.25rem 0.5rem;
    color:rgba(22, 21, 21, 0.468);
    height:1.3rem;
}

